* {
margin: 0;
padding: 0;
box-sizing: border-box;
}
body {
font-family: Arial, sans-serif;
margin: 0;
padding: 0;
background: #f8f9fa;
}
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #a730ec;
}
header h1 {
    margin: 2px 0;
    margin-left: 10px;
}
header ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
    list-style: none;
    margin-right: 10px;
    cursor: pointer;
}
header ul li a {
    text-decoration: none;
    color: aliceblue;
}
a:hover {
    background: white;
    color: brown;
    padding: 4px;
    border-radius: 20px;
    transition: 0.3s;
}

.articles {
    display: flex;
    gap: 20px;
    padding: 40px;
    justify-content: center; 
    align-items: center;      
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card img {
    width: 50%;
    height: 250px;
}

.card .content {
    padding: 15px;
}

.card h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.card ul {
    font-size: 14px;
    color: #555;
    margin: 10px 0;
}

.card a {
    background: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.card button:hover {
    background: #0056b3;
}
footer{
    background: #222;
    color: white;
    padding: 20px;
    font-size: 14px;
}